.particles-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 0;
}

.particles-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}
